@keyframes bgcolor {
  0% {
    background-color: red;
  } 
  
  30% {
    background-color: blue;
  }
  
  60% {
    background-color: green;
  }
  
  80% {
    background-color: purple;
  }
  
  100% {
    background-color: yellow;
  }
}

body {
    -webkit-animation: bgcolor 5s infinite;
    animation: bgcolor 5s infinite;
    font-family: "Comic Sans MS", "Comic Sans", cursive;
}
